body {

  margin: 0;
  background-color: #808080;
  position: relative;
}

.content {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.main_sidebar {
  width: 300px;
  margin: 0 0 0 20px;
}

.character_card {
  width: 300px;
  border-radius: 40px;
  background-color: #dcdcdc;
  margin: 25px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.character_card .title_section {
  display: flex;
  height: 70px;
  padding: 15px;
  background-color: #778899;

  border-bottom: 1px solid #778899;
  text-align: center;
}

.character_card .title_section .title_image_section {
  min-height: 100%;
  max-height: 100%;
  width: 100px;
  margin-right: 30px;
  border-radius: 30px;
  overflow: hidden;
}

.character_card .title_section .title_image_section > img {
  height: 70%;
  align-items: center;

}




.character_card .title_section .title_section_text > h1 {
  
  margin: 0;
  align-items: center;

}

.character_card .info_section {
  padding: 15px;
  align-items: center;

}

.character_card .info_section .info_item {
  margin-bottom: 8px;
}

.character_card .info_section .info_item > span {
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
  color: #ee82ee;
  
}

.character_card .info_section .info_item > p {
  font-size: 1rem;
  margin: 0;
}

.section_header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.section_header .header_text {
  line-height: 32px;
  font-weight: 600;
  font-size: 20px;
}

.section_header .header_text_2 {
  font-weight: 600;
  font-size: 20px;
}

.section_content {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.section_container {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #000000;
  padding: 20px;
}

.section_container_title {
  margin-bottom: 10px;
}

.section_title {
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.filter_button {
  height: 30px;
  width: 100%;
  margin: 5px 0;
  padding: 0 13px;
  background: #663399;
  color: #ffff00;
  fill: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  outline: 0;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}



.filter_button_active {
  height: 30px;
  width: 100%;
  margin: 5px 0;
  padding: 0 13px;
  background: #663399;
  color: #ffff00;
  fill: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  outline: 0;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.filter_button:hover {
  background: #ff6347;
}

.filter_button_active:hover {
  background: #ff6347;
}

.filter_button_text {
  line-height: 10px;
  font-weight: 800;
  font-size: 10px;
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column-reverse;
  }



  .character_card {
    margin: 15px 0;
    width: 100%;
  }
}